html {
   height: 100%;
}

body {
   height: 100%;
   overflow-y: scroll;
}

main {
   margin-top: 50px;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: #ff6600;
   padding: 5px;
   color: white;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

   h1 {
      margin: 0 5px 0 0;
      display: block;

      .cxb-link {
         font-size: 24px;
         line-height: 32px;
         color: white;
         padding: 0;

         &:hover {
            text-decoration: none;
         }
      }
   }

   .cxb-link {
      color: rgba(255, 255, 255, 0.8);
      font-size: 16px;
      line-height: 22px;
      //margin: 0 5px;
      padding: 5px;

      &:hover {
         text-decoration: none;
         color: rgba(255, 255, 255, 0.9);
      }

      &.cxs-active {
         color: white;
         font-weight: 500;
      }
   }

   .content {
      display: flex;
      align-items: center;
   }

   .cx-logo {
      color: white;
      display: block;
      margin-left: auto;
      margin-right: 5px;
      line-height: 32px;

      .cxb-icon {
         width: 32px;
         height: 32px;
      }
   }
}

.center {
   max-width: 1000px;
   margin: auto;

   @media screen and (max-width: 1000px) {
      margin: 4px;
   }
}