body {

}

main {
   margin-top: 50px;
}

header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: #3793ff;
}

.center {
   max-width: 1000px;
   margin: auto;
}